{% extends "auctions/layout.html" %}

{% block body %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>
    jQuery(document).ready(function ($) {
        $('*[data-href]').on('click', function () {
            window.location = $(this).data("href");
        });

    });
    $(function () {
        $(".table").on("click", "tr[role=\"button\"]", function (e) {
            window.location = $(this).data("href");
        });
    });
</script>

<h2>Watchlist</h2>


<table class="table table-hover" style="border: 1px solid black; text-align: center;">
    <thead class="thead-dark">
        <tr style="border: 1px solid black; text-align: center;">
            
            <th style="width: 50px;">ID</th>
            <th style="width: 100px;">Image</th>
            <th style="width: 100px;">Title</th>
            
            <th style="width: 100px;">Owner</th>
            <th style="width: 50px;">Price</th>
        </tr>
    </thead>
    {% for item in watchlist %}


    
    {% if user.is_authenticated %}
        <tr role="button" style='cursor: pointer; cursor: hand;' data-href="{{item.cross_id}}/edit"
            style="border: 1px solid black; text-align: center;">
    {%endif%}

    <td>{{item.cross_id}}</td>
    <!-- <td> <a href="{{ listing.image_url}}">{{listing.image_url|truncatechars:20}}</a></td> -->
    <td>
        {% load static %}
        {% if not item.image_url %}
        <img style="height: 50px;" src="{% static 'images/nopic.png' %}" alt="no image">
        {% elif item.image_url %}
        <img style="display: block; height: 50px; margin: auto;" src="{{item.image_url}}" alt="image">
        {% endif %}

    </td>
    <td>{{item.saved_item}}</td>
    <td>{{item.owner}}</td>
    <td>{{item.price}}</td>
    
    </tr>

    {% endfor %}

</table>

{% endblock %}